.info {
  padding: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.info__name {
  font-size: 100px;
  margin: 5px 0 0 0;
  font-weight: 1000;
  display: block;
}

.info__description {
  display: block;
  font-size: 25px;
  font-weight: 100;
}

.info__img {
  margin: 0 50px 0 0;
  max-width: 200px;
  display: block;
  border-radius: 5px;

  /* 
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}

.video_container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 5% 0 0 0;
}

.video {
  width: 10vw;
  height: 10vh;
}
